<div class="flex flex-column w-full h-full align-items-center justify-content-start">
    <section class="w-full flex justify-content-center p-3">
        <p-button (click)="logout()">Logout</p-button>
        @if(profile$ | async; as profile;) {
        <div class="flex-1 flex justify-content-center text-green-500 text-3xl">Welcome {{profile.display_name}}</div>
        }

        <div class="">
            <Navlink></Navlink>
        </div>
    </section>
    <section class="w-full flex justify-content-center align-items-center gap-2 flex-1" [formGroup]="searchForm">
        <p-iconField iconPosition="left" class="w-4">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" class="w-full" formControlName="search" />
        </p-iconField>
        <p-button (click)="rec()">Search</p-button>
        {{searchForm.get('search')?.value}}
    </section>
    <section class="flex-1 text-white flex flex-column gap-3">
        @if(searchResult$ | async; as search;) {
        <div>
            {{search.name}}
        </div>
        }

        <div>
            <p-button (click)="rec()"> Recommended Song</p-button>
            @if(songRec$ | async; as rec;) {
            <pre class="flex white-space-normal w-29rem overflow-hidden">{{rec | json}}</pre>
            }
        </div>
    </section>
</div>