/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #112233;
}

body {
  font-family: 'Roboto', sans-serif;
}

.p-input-icon.pi.pi-spinner {
  left: 23rem;
}

span.p-icon-field.p-icon-field-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pi {
  color: gray;
}

.p-button {
  background: #13283c !important;
}

hr {
  background-color: gray;
  height: 1px;
  border: 0;
}

@media screen and (max-width: 667px) {
  :root {
    font-size: 8px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}
